$purple: #7e3e98;

.esperto {
  .grid {
    padding-top: 20px;
    margin: auto;
    max-width: 1600px;
    display: grid;
    grid-template-areas: "elem1 elem2 elem3" "elem4 elem5 elem6" "elem7 cta cta";
    grid-gap: 15px 0px;
    padding-bottom: 40px;
    border-bottom: 3px solid $purple;
    .grid__cta {
      text-align: center;
      margin: auto;
      grid-column-start: 2;
      grid-column-end: 4;
      width: 70%;
      p {
        margin-bottom: 35px;
        font-size: 16px;
      }
      .contatti {
        text-decoration: none;
        background-color: $purple;
        color: white;
        padding: 10px 30px;
      }
      .preventivo {
        margin: auto;
        width: 70%;
        margin-top: 30px;
        color: rebeccapurple;
        font-size: 13px;
      }
      .preventivoFile {
        color: rebeccapurple;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 1250px) {
  .esperto {
    .grid {
      grid-template-areas:
        "elem1 elem2"
        "elem3 elem4"
        "elem5 elem6"
        "elem7 null"
        "cta cta";
    }
  }
}

@media (max-width: 850px) {
  .esperto {
    .grid {
      grid-template-areas: "elem1" "elem2" "elem3" "elem4" "elem5" "elem6" "elem7" "cta";
      .espertoCard {
        max-width: 450px;
        width: 90%;
        .text {
          p {
            font-size: 14px;
          }
          h3 {
            font-size: 18px;
            padding-bottom: 15px;
          }
        }
      }
      .opacity {
        width: 100%;
      }
      .grid__cta {
        p {
          font-size: 12px;
        }
        .preventivo {
          font-size: 10px;
          width: 100%;
          a {
            font-size: 12px;
          }
        }
      }
    }
  }
}
