$purple: #7e3e98;

.intro {
  display: flex;
  margin: 0 auto 0 auto;
  max-width: 1600px;
  padding-bottom: 40px;
  border-bottom: 3px solid $purple;
  &__text {
    flex: 0.4;
    padding: 40px 25px 0 30px;
    h1 {
      color: $purple;
      font-size: 26px;
      line-height: 1.4;
      span {
        font-size: 32px;
      }
    }
    p {
      line-height: 1.6;
      margin-right: 60px;
    }
  }
  &__carousel {
    flex: 0.6;
    width: 60%;
    object-fit: cover;
  }
}

@media (max-width: 1600px) {
  .intro {
    padding-bottom: 0 !important;
    &__text {
      position: absolute;
      z-index: 3;
      text-align: center;
      top: 50%;
      transform: translateY(-110%);
      p {
        padding-top: 40px;
        color: white;
        width: 70%;
        margin: auto;
        line-height: 1.7;
        .hide {
          display: none;
        }
      }
    }
    &__carousel {
      width: 100%;
      height: auto;
      filter: brightness(30%);
    }
  }
}

@media (max-width: 800px) {
  .intro {
    margin-top: 60px;
    position: relative;
    &__text {
      width: 100%;
      transform: translateY(-70%);
      p {
        display: none;
      }
    }
  }
}
